.payment-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgb(216, 206, 206);
}

.payment-request h2 {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

.payment-request p {
  font-size: 20px;
  text-align: center;
}
